@font-face {
    font-family: 'Outline';
    src: url('/MyApp/src/Components/Fuentes/Outline.ttf') format('truetype');
}

* {
    background-color: black;
}



.h2 {
    font-size: 40px;
    font-family: "Outline";
    color: yellow !important;
}

.commerce {
    color: white;
}

.link {
    color: white !important;
    font-family: "Poppins" !important;
    font-size: 15px;
}

.margenes {
    margin: 0 !important;
    padding: 0 !important;
}

nav div {
    margin-right: 8rem;
}

nav div a {
    color: white;
    font-family: "Poppins";
    text-decoration: none;
    margin-right: 1rem;
}

.togg {
    background-color: black;
    border: 0 !important;
}

.togg:hover {
    background-color: black !important;
    border: 0 !important;
}

.badge {
    color: white !important;
    background-color: black !important;
font-family: "Poppins" !important;
}

.drop {
    color: rgb(0, 0, 0) !important;
    background-color: rgb(255, 255, 255) !important;
    font-family: "Poppins" !important;
}

.cart {
    font-size: 30px;
    color: white !important;
    background-color: black !important;
}

svg {
    margin-right: 2rem;
}

.link:hover {
    color: yellow !important;
}

.Titulo {
    font-family: "Poppins";
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SubTitulo {
    font-family: "Outline";
    font-size: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contfo {
    color: white;
    font-family: "Outline";
    display: flex;
    align-items: center;
    justify-content: center;
}

.us {
    color: yellow;
    font-family: "Outline";
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    width: 25%;
    height: 25%;
}

.btn.btn-primary {
    font-family: "Poppins";
    color: yellow;
    background-color: black;
    border: 0;
}

.card-title {
    font-family: "Poppins";
    color: white;
}

.card-text {
    font-family: "Poppins";
    color: white;
}

.navbar {
    color: aliceblue;
}

.TitleShop {
    font-family: "Outline";
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.TitleShop:hover {
    color: yellow;
}