*{
    background-color: black;
}

.Commerce {
    color: yellow !important;
}

.about {
    color: white !important;
    margin: 10px;
}
.about:hover {
    color: yellow !important;
}
.contact {
    margin: 10px;
    color: white !important;
}
.contact:hover {
    color: yellow !important;
}

.signin {
    color: white !important;
    margin: 10px;
}

.signup {
    color: white !important;
    margin: 10px;
}

.shopcart {
    color: white !important;
    margin: 10px;
}

.shopcart:hover {
    color: yellow !important;
}
.signin:hover {
    color: yellow !important;
}
.signup:hover {
    color: yellow !important;
}

.Contenedor {
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
}

.btn {
    margin: 5px;
}

.allprod {
    font-family: "Poppins";
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.card {
    display: flex;
    width: 25%;
    height: 25%;
}



.card-title {
    font-family: "Poppins";
    color: white;
}

.card-text {
    font-family: "Poppins";
    color: white;
}

.navbar {
    color: aliceblue;
}

.TitleShop {
    font-family: "Outline";
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.TitleShop:hover {
    color: yellow;
}

.btn3 {
    color: rgb(255, 255, 255) !important;
    margin-left: 5px;
}

.card-img {
    width: max-content;
    height: 600px;
}