@font-face {
    font-family: 'Outline';
    src: url('/MyApp/src/Components/Fuentes/Outline.ttf') format('truetype');
  }

*{
    background-color: black;
}

nav {
    padding: .4rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h2{
font-size: 60px;
font-family: "Outline";
color: yellow;
}

nav h2 span {
    color: white;
}

nav div {
    margin-right: 8rem;
}

nav div a {
    color: white;
    font-family: "Poppins";
    text-decoration: none;
    margin-right: 1rem;
}

svg {
    margin-right: 2rem;
}

nav div a:hover{
    color: yellow;
}
.Titulo {
  font-family: "Poppins";
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SubTitulo {
  font-family: "Outline";
  font-size: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}